.container {
    margin: 0;
    padding: 0;
}

.card {
    max-width: none;
    max-height: none;
    border-radius: 0;
}

.col {
    padding: 0;
    margin: 0;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container p {
    padding: 0;
    margin: 0;
}

.client-container {
    text-align: left;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0;
    transition: all .3s ease-in-out;
}

.selected.client-container {
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    transition: all .3s ease-in-out;
}