<div class="d-flex flex-column align-center justify-content-center mb-4">
    <h5>¿Por cual medio desea notificar?</h5>
    <div class="btn-group">
        <button class="btn btn-outline-success" (click)="notifyWhatsApp()"><span class="fab fa-whatsapp"></span> Whatsapp</button>
        <button class="btn btn-outline-primary" (click)="notifySMS()"><span class="fa fa-sms"></span> SMS</button>
        <button class="btn btn-outline-danger" (click)="notifyEmail()"><span class="fa fa-at"></span> Correo Electronico</button>
    </div>
</div>