<div class="wrapper">

    <div *ngIf="loading">
        <app-loading></app-loading>
    </div>

    <div class="card fadeInUp first">
        <form #loginForm="ngForm" (ngSubmit)="submitUser(loginForm)" class="card-body">
            <h5>{{ui.login}}</h5>
            <div class="group">
                <div class="form-group">
                    <input [(ngModel)]="input.username" (ngModelChange)="onChange(username)" type="text" name="username" class="form-control" [placeholder]="hint.username" #username required>
                </div>
                <div class="form-group">
                    <input [(ngModel)]="input.password" (ngModelChange)="onChange(password)" type="password" name="password" class="form-control" [placeholder]="hint.password" #password required>
                </div>
            </div>
            <div class="form-check">
                <input [(ngModel)]="input.keepLog" (ngModelChange)="onChange(keepLog)" name="keepLog" class="form-check-input" type="checkbox" #keepLog>
                <label class="form-check-label" for="flexCheckChecked">
                    {{ ui.keepLogged }}
                </label>
            </div>
            <button type="submit" class="btn btn-primary">{{ ui.loginButton }}</button>
        </form>
        <a class="form-link underlineHover mt-3" (click)="showForgetPassword()">{{ ui.forgetPassword }}</a>
    </div>

    <div class="logo-container">
        <img src="https://mzmotos.com/static/images/logo.png" alt="">
    </div>
</div>

<ng-template #forgetPassword let-modal>
    <div class="relative" style="width: 100%; height: 200px;">
        <div class="d-flex justify-content-center align-items-center h-full w-full">
            <form #passwordForm="ngForm" class="form-container" (ngSubmit)="onSubmitForgetPassword(passwordForm)">
                <div *ngIf="stepCounter === 1">
                    <div class="d-flex justify-content center w-full">
                        <h6 style="color: var(--primary-color)">{{ui.writeUsername}}</h6>
                    </div>
                    <div class="form-group">
                        <input [(ngModel)]="forgetPasswordInput.username" type="text" name="username" id="username" [placeholder]="hint.username" class="form-control">
                    </div>
                </div>
                <div *ngIf="stepCounter === 2">
                    <div class="d-flex justify-content center w-full">
                        <h6 style="color: var(--primary-color)">{{ui.writePassword}}</h6>
                    </div>
                    <div class="form-group">
                        <input [(ngModel)]="forgetPasswordInput.newPassword" type="password" name="password" id="password" [placeholder]="hint.password" class="form-control">
                    </div>
                    <div class="form-group">
                        <input [(ngModel)]="forgetPasswordInput.confirmPassword" type="password" name="confirm" id="confirm" [placeholder]="hint.confirm" class="form-control">
                    </div>
                </div>
                <div class="d-flex align-items-center w-full" style="justify-content: space-between;">
                    <button *ngIf="stepCounter !== 1" type="button" (click)="decreaseStep()" class="btn btn-primary btn-inverted"><span class="fas fa-chevron-left"></span> {{ui.backButton}}</button>
                    <button *ngIf="stepCounter !== 2" type="submit" class="btn btn-primary btn-inverted">{{ui.nextButton}} <span class="fas fa-chevron-right"></span></button>
                    <button *ngIf="stepCounter === 2" type="submit" class="btn btn-primary btn-inverted">{{ui.saveButton}}</button>

                </div>
            </form>
        </div>
        <div class="absolute bottom w-full">
            <div class="d-flex flex-row justify-content-center">
                <span [class]="stepCounter === 1 ? 'circle step active' : 'circle step'"></span>
                <span [class]="stepCounter === 2 ? 'circle step active' : 'circle step'"></span>
            </div>
        </div>
    </div>
</ng-template>