.appointment-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
}

.agenda-card {
    display: flex;
    justify-content: center;
    transition: all .3s ease;
}

.agenda-card div {
    transition: all .3s ease;
}

.appointment-btn-badge {
    position: relative;
}

.appointment-btn-badge .badge {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0.25rem;
}