<div class="d-flex justify-content-center w-full pt-4 mx-auto h-full">
    <div class="position-fixed bottom right" style="z-index: 100;">
        <app-float-button (eventFunction)="showClientForm()"></app-float-button>
    </div>
    <div class="row w-full h-full">
        <div class="container col-md w-full">
            <input type="text" [placeholder]="ui.search" name="" class="form-control">
            <div class="h-full scroll-y-auto mt-2 px-2" style="max-height: 650px;">
                <div *ngFor="let data of clients">
                    <app-card-data [data]="data" (handleHover)="selectedClient($event)" (handleDelete)="onDelete($event)" (handleEdit)="onEdit($event)"></app-card-data>
                </div>
            </div>
        </div>
        <div class="col-md h-full">
            <div *ngIf="selected === null; else clientData">
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <span class="fas fa-info"></span>
                    <span>{{ui.selectOne}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #clientData>
    <div class="container h-full relative" style="display: flex;justify-content: center;align-items: center;vertical-align: center;height: 100%;">
        <div class="absolute top right">
            <button class="btn btn-borderless" (click)="unselectedClient()">
                <span class="fas fa-times"></span>
            </button>
        </div>
        <div>
            <h1>{{ selected.name }} {{ selected.surname }}</h1>
            <h4>{{ui.ci_ruc}}: {{selected.RUC}}</h4>
            <h4>{{ui.address}}: {{selected.address}}</h4>
            <h4>{{ui.city}}: {{selected.city}}</h4>
        </div>
    </div>
</ng-template>

<ng-template #clientForm let-modal>
    <app-client-form (onSubmitEvent)="submitData($event)" [client]="editable"></app-client-form>
</ng-template>